@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url(/Poppins/Poppins-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --maintext-color: #6FC247;
    --secondary-color: white;
    --primary-color: black;
    --hover-color: #005667;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*NAV BAR STYLING */
nav img {
    margin-top: 10px;
    width: 10%;
    height: 20%;
}

nav {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 2px 0px rgba(3, 3, 3, 0.199);
    position: fixed;
    align-items: center;
    background-color: var(--secondary-color);
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
}

nav ul li .home {
    color: var(--hover-color);
}

nav ul li {
    display: block;
    list-style: none;
}

nav ul li a:hover {
    color: var(--hover-color);
}

nav ul {
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

.nav-btn {
    margin-top: 10px;
    height: 9vh;
    width: 15%;
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--secondary-color);
    background-color: var(--maintext-color);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.nav-btn:hover {
    border: 2px solid var(--maintext-color);
    background-color: var(--secondary-color);
    color: var(--maintext-color);

}

nav .nav-btn i {
    font-size: 1.5rem;
    padding-left: 5px;
}

nav ul li>ul {
    display: block;
    background-color: var(--secondary-color);
    height: 11.5vh;
    position: absolute;
    display: none;
    border-bottom: 8px solid var(--maintext-color);
    box-shadow: 0px 2px 2px 0px rgba(3, 3, 3, 0.199);
}

nav ul li>ul li {
    padding: 2px 0 2px 0;
}
nav ul li>ul li:hover {
    background-color: var(--maintext-color);
}
li>ul li a:hover {
    color: var(--secondary-color);
}
nav ul li>ul li a {
    font-size: 1rem;
    text-align: center;
}

nav .dropdown:hover>.dropmenu {
    display: block;
    width: 8%;
    top: 70;
}

/*TEXT AFTER NAV BAR STYLING */

.heading {
    text-align: center;
    font-size: 4rem;
    padding: 140px 0 15px 0;
}

.description {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.btns .signup-btn {
    background-color: transparent;
    border: 2px solid var(--maintext-color);
    color: var(--maintext-color);
}

.signup-btn:hover {
    background-color: var(--maintext-color);
    color: var(--secondary-color);
    border: none;
}

/* BACKGROUND IMAGE STYLING */
.background-image {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* STYLING OF SECOND HEADING & DESCRIPTION*/
.heading2 {
    padding-top: 80px;
    text-align: center;
}

.description2 {
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 1.3rem;
    word-wrap: break-word;
}

/* SPONSORS PAGE */
.sponsors {
    background-color: #ffffff;
    width: 90%;
    height: 50vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sponsors .col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sponsors .col .boxes {
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DRAK SECTION STYLING */
.darksection {
    margin-top: 40px;
    width: 100%;
    height: 40vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.darksection .darksection-2 {
    margin-top: 60px;
    display: flex;
    gap: 40px;
}

.darksection .darksection-1 {

    width: 68%;
}

.darksection .darksection-2 h2 {
    padding-bottom: 15px;
}

/* LAST SECTION STYLING */
.last-section {
    margin: 40px auto;
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.last-section .last-section-1 {
    width: 50%;
    height: 100%;
}

.last-section .last-section-1 h1 {
    padding-bottom: 20px;
}

.last-section .last-section-1 h2 {
    padding: 40px 0px 0px 40px;

}

.last-section .last-section-1 p {
    padding-left: 40px;
}

.last-section .last-section-2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-section .last-section-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*STYLING THE LAST BUTTON*/
.lastbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-btn {
    margin: 30px auto;
}