@font-face {
    font-family: Poppins;
    src: url('../../fonts/Poppins/Poppins-Regular.ttf');
}


body {
    font-family: Poppins;
}

nav li {
    cursor: pointer;
}

.darksection {
    justify-content: center;
    align-items: center;
}

.last-section-2:hover img {
    transform: scale(1.1);
}

.lazy-section {
    transform: translateY(80px);
    opacity: 0;
}

.lazy-section.visible {
    opacity: 1;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: 1s, 2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.boxes {
    @apply flex justify-center align-middle;
}

.btns {
    @apply smaller: flex smaller:flex-col smaller:gap-y-3 smaller:text-center smaller:py-0 smaller:px-10;
}

.demo {
    @apply text-white bg-main py-2 px-1 sm: py-5 sm:px-2 rounded-lg border-2 border-main bg-main hover:bg-transparent hover:text-main inline-block cursor-pointer hidden lg:flex;
}


@tailwind base;
@tailwind components;
@tailwind utilities;